<span id="a">fmasala@web-cli-00</span>:<span id="b">~$</span> cd home/fmasala/Documents/Portfolio
<span id="a">fmasala@web-cli-00</span>:<span id="b">~$</span> bash fra.sh<br/>
[~] fra/portfolio [~]
[!] Things that'm working on [!]<!-- Idle -->
<a href="https://wiki.orangefox.tech/en/home"> Orangefox Recovery Infrastructure</a>
<a href="https://usebottles.com"> Bottles Infrastructure</a>
<a href="https://bgp.he.net/AS212539"> My own AS - 212539 OTTER-AS</a>
<p></p>
[!] Public Keys [!]<!-- Idle -->
<a href="https://francescomasala.me/fra-public-pgp-cert.asc"> Personal PGP Key</a>
<p></p>
[!] Programming languages that I know [!]<!-- Idle -->
Python<!-- Idle -->
Kotlin<!-- Idle -->
Java<!-- Idle -->
C#<!-- Idle -->
JavaScript (a little bit)<!-- Idle -->
<p></p>
[!] Software that I use for my projects [!]<!-- Idle -->
Kubernetes<!-- Idle -->
KVM<!-- Idle -->
<a href="https://podman.io/"> Podman</a>
<a href="https://www.ansible.com/"> Ansible</a>
Git<!-- Idle -->
Jetbrains IDE<!-- Idle -->
Various linux distros<!-- Idle -->
<a href="https://caddyserver.com/"> Caddy</a>
Traefik<!-- Idle -->
<a href="https://ktor.io/"> Ktor</a>
<p></p>
[!] Hardware that I worked with [!]<!-- Idle -->
Mikrotik ROS<!-- Idle -->
Lidars and stuff<!-- Idle -->
Ubiquiti<!-- Idle -->
Mikrotik<!-- Idle -->
Dell Rack Units / Blades / Towers<!-- Idle -->
PfSense Machines<!-- Idle -->
<a href="https://www.wildix.com/"> Wildix PBXs</a>
BGP Routing<!-- Idle -->
<p></p>
[!] Spotify Playlists [!]<!-- Idle -->
<a href="https://open.spotify.com/playlist/1KOreUmFZdGQCeZuAEYRAG?si=4bb0c52f2bb14b03"> Fra/Music/Chill</a>
<a href="https://open.spotify.com/playlist/3rZlpkPldVmtBu0r1HMzbh?si=0ee5dff8aae645b1"> Fra/Music/🔌_Male</a>
<a href="https://open.spotify.com/playlist/3koOI0QuBjfJBa2uSEdEKE?si=f5969e0f9c204b4b"> Fra/Music/Old_Vibes</a>
<a href="https://open.spotify.com/playlist/5pW0pGcSd957NFtz804Wpu?si=4fe7cb4977b1409a"> Fra/Music/Rap</a>
<p></p><!-- Idle --><!-- Idle -->
[!] Websites that I like [!]<!-- Idle -->
<a href="https://mirko.pm/"> Mirko's website</a>
<a href="https://european-pirateparty.eu/"> European Pirate Party</a>
<a href="https://www.gnome.org/"> Gnome - That I'm a foundation member!</a>
<p></p>
[!] Various Links [!]<!-- Idle -->
<a href="https://www.linkedin.com/in/masalafrancesco/"> Linkedin</a>
<a href="https://github.com/francescomasala"> Github</a>
<a href="mailto:mail@francescomasala.me"> My Email</a>
<a href="https://status.hyperbit.it"> Fra/Status</a>

<span id="a">fmasala@web-cli-00</span>:<span id="b">~$</span> exit
<span id="a">web-cli-00 Login</span><span id="b">:</span>
